@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    scroll-behavior: smooth;
}

.easy-button{
    padding: 8px 16px;
    background-color: #b33e5c;
    color:white;
    border-radius: 4px;
    font:bold;
    margin-left:40px;
}

.easy-button:hover{
    background-color: red;
}

.btn {
    @apply bg-red-600 hover:bg-red-900 text-white font-bold py-2 px-4 rounded ml-10;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.secondary-title:hover {
    @apply w-full mx-auto px-16 lg:px-32 before:bg-natsuha text-natsuha scale-125 transition-all duration-1000
}

.secondary-title::before{
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1 ;
}

.secondary-title::after{
    content: "";
    @apply block w-12 h-2 bg-theme rounded-full mb-1 opacity-0;
}

.section-paragraph {
    @apply text-secondary my-6 w-full max-w-3xl;
}

.badge{
    @apply px-4 py-2 text-sm bg-badge hover:bg-natsuha transition-all duration-300;
}

#page_top{
    width: 90px;
    height: 90px;
    position: fixed;
    right: 0;
    bottom: 0;
    opacity: 0.6;
  }
  #page_top a{
    position: relative;
    display: block;
    width: 90px;
    height: 90px;
    text-decoration: none;
  }
  #page_top a::before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f102';
    font-size: 25px;
    color: white;
    position: absolute;
    width: 25px;
    height: 25px;
    top: -40px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }
  #page_top a::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 45px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }